apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "druppie.fullname" . }}-config
  labels:
    {{- include "druppie.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- toYaml .Values.config | nindent 4 }}
